*{
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background:linear-gradient(to right, transparent -10%, black 110% ), url('https://wallpapercave.com/wp/cqhO8rQ.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Dokdo', cursive;
  overflow: scroll;
}
.body{
  background:linear-gradient(to right, transparent -10%, black 110% ), url('https://pokewalls.files.wordpress.com/2018/03/721volcanion1920x1200.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.body2 {
  background:linear-gradient(to right, transparent -10%, black 110% ), url('https://pokewalls.files.wordpress.com/2012/04/391monferno1920x1200.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title{
  text-align: center;
  font-size:85px;
  color:rgba(246,8,0,0.9) ;
  text-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
h3{
  margin-bottom: 10px;
}
.pokeImg {
  width: 800px;
  height: 600px;
  margin-left: 50px;
  margin-top: 50px;
  opacity: .9;
  background: url('https://astro.temple.edu/~tuf09411/Images/Pokedex2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  /* border: black 2px solid; */

}
.pokeInfo, .pokemon{
  width: 281px;
  margin-left: 253px;
  border-radius: 7px;
}
.pokemon {
  height: 206px;
  margin-top: 42px;
  position: fixed;
  text-align: center;
  background: url('https://library.creativecow.net/articles/alkattan_omar/green_land/fig_12_green.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-position: cover;

}
.pokemon img {
  width: 100%;
  height: 100%;
  padding-top:;
}
.pokepic{
  width: 100%;
  height: 100%;
  border: black 1px solid;
}
.pokeInfo {
  height: 199px;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  margin-top: 355px;
  position: fixed;
  overflow: scroll;
  overflow-y: scroll;
  padding: 4px;
  text-transform: uppercase;
}
.pokeInfo p {
  margin-top: 10px;
}
button {
 width: 125px;
 font-size: 12px;
 padding: 2px;
 border-radius: 7px;
 margin: 10px 0;
 font-weight: bold;
 font-family: 'Press Start 2P', cursive;
 box-shadow: 3px 3px 5px rgba(0,0,0,.8);
}
button:hover {
  background:rgba(255,255,255,.5);
}
button:active{
  font-size: 11px;
  box-shadow: none;
}
.playerPoke{
  width: 505px;
  height: 605px;
  position: fixed;
  margin-left: 900px;
  text-align: center;
}
.playerPoke h2{
  margin: 10px 0;
  font-size: 40px;
}
.grid-container {
  display: grid;
  width: 500px;
  height: 600px;
  grid-template-columns: auto auto;
  text-align: center;

}
.grid-item {
  border: 4px solid #BFBFBF;
  border-radius: 50%;
  transition: border-radius 1s;
  text-align: center;
  color: rgba(246,8,0,0.5);
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 1px rgba(0,0,0,.8);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.grid-item img {
}
.grid-item p {
  margin-top: 145px;
}
.grid-item:hover {
  width: 220px;
  height: 220px;
  font-size: 45px;
  color: rgba(246,8,0,0.9);
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(255,255,255,.5);

}
.grid-item:active {
  width: 200px;
  height: 200px;
  box-shadow: none;
}
.hidden {
  display: none;

}
.volcanion {
  background: url('https://cdn.bulbagarden.net/upload/thumb/7/7c/Volcanion_M19.png/250px-Volcanion_M19.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.drapion {
  background: url('https://vignette.wikia.nocookie.net/pokemon/images/a/a1/J_Drapion.png/revision/latest?cb=20150906052624');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.doublade {
  background: url('https://cdn.bulbagarden.net/upload/thumb/b/b2/Sawyer_Doublade.png/250px-Sawyer_Doublade.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.carbink {
  background: url('https://cdn.bulbagarden.net/upload/thumb/8/86/Kalos_Route_14_Carbink.png/250px-Kalos_Route_14_Carbink.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.archeops {
  background: url('https://assets.pokemon.com/assets/cms2/img/watch-pokemon-tv/seasons/season14/season14_ep36_ss04.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.dhelmise {
  background: url('https://pm1.narvii.com/6369/3550f0b1b8645083fa08801b391c878ac641348e_hq.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.monferno {
  background: url('https://cdn.bulbagarden.net/upload/thumb/b/b7/Ash_Monferno.png/250px-Ash_Monferno.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.deoxys {
  background: url('https://vignette.wikia.nocookie.net/pokemon/images/6/65/Deoxys_Normal_Forme_anime.png/revision/latest?cb=20151017085026');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pangoro {
  background: url('https://cdn.bulbagarden.net/upload/thumb/b/bc/Bourgain_Pangoro.png/250px-Bourgain_Pangoro.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.escavalier {
  background: url('https://vignette.wikia.nocookie.net/pokemon/images/d/d2/Bianca_Escavalier.png/revision/latest?cb=20150916061102');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.golett {
  background: url('https://vignette.wikia.nocookie.net/pokemon/images/d/d0/Kenton_Golett.png/revision/latest?cb=20160630034042');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.xerneas {
  background: url('https://cdn.bulbagarden.net/upload/thumb/d/d3/Xerneas_anime.png/250px-Xerneas_anime.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.bulbasaur {
  background: url('https://cdn.bulbagarden.net/upload/thumb/7/79/Shauna_Bulbasaur.png/250px-Shauna_Bulbasaur.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.charmander {
  background: url('https://vignette.wikia.nocookie.net/es.pokemon/images/6/60/EP843_Charmander_de_Trovato.png/revision/latest?cb=20140816214242');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.squirtle {
  background: url('https://cdn.bulbagarden.net/upload/thumb/8/8c/Tierno_Squirtle.png/250px-Tierno_Squirtle.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.caterpie {
  background: url('https://cdn.bulbagarden.net/upload/thumb/c/c5/Ash_Caterpie_M20.png/250px-Ash_Caterpie_M20.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.weedle {
  background: url('https://vignette.wikia.nocookie.net/pokemon/images/1/19/Casey_Weedle.png/revision/latest?cb=20151026085155');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pidgey {
  background: url('https://vignette.wikia.nocookie.net/pokemon/images/2/29/Pidgey_IL001.png/revision/latest?cb=20151213045444');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
