$dd: rgba(255,255,255,.8) 5px solid;
$bdr: 10px;
$fnfm: 'Press Start 2P', cursive;
$bs: 10px 10px 1px rgba(0,0,0,.5);

.ash {
  float: right;
  font-family: $fnfm;
  background: url('https://cdn.dribbble.com/users/688785/screenshots/4407569/grass.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: $bdr;
  border: $dd;
  border-radius: $bdr;
  margin: $bdr $bdr 0 0;
  height: 90%;
  box-shadow: $bs;

}
.ash img{
  padding-top: 78px;
  height: 550px;
}
.side {
  width: 300px;
  height: 550px;
  display: inline-block;

}
.ashSaid {
  width: 170%;
  height: 300px;
  float: right;
  background: url('http://weclipart.com/gimg/E6A7D41B98699C2E/comic-tag-tag2.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 53%;
  padding-left: 100px;
}
#chosenPoke{
  width: 100%;
  height: 350px;
  clear: both;
}
.moving {
  animation:
    move 1s linear infinite alternate;
}
@keyframes move {
  50% {
    transform: translate($bdr, 0);
  }
  80% {
    transform: translate(-$bdr, 0);
  }
}
.ichoose {
  width: 280px;
  padding-left: 35px;
  padding-top: 52px;
  text-align: center;
  font-size: 16px;
}
.ichoose p {
  margin-bottom: 30px;
}
#pokewindow{
  height:100%;
  width: 100%;
}

#ashPoke {
font-size: 18px;
color: red;
}

@media screen and (max-width: 433px) {

  .ash {
     display: none;
   }
}

@media screen and (min-width: 768px) and (max-width: 1048px) {

.ash {
  margin: -2% 3% 0px 0;
}

#clickMe {
    padding-left: 65px;
    position: relative;
    top: -100%;
    left: 8%;
}
#pokePopUp {

    width: 390px;
    height: 165px;
    position: relative;
        top: -69%;
        left: 40%;
    font-size: 17px;
    padding: 5px;
    overflow: scroll;
}

}
